
@{
    ViewBag.Title = "Booth";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int Index = 1;
}


<script>
    $(".menu2").removeClass("active").removeClass("toggled");
    $(".menu1").addClass("active").addClass("toggled");
</script>


@model SuperSurvey.Models.BoothModels
<div class="panel panel-success">
    <div class="panel-heading">
        <strong>Booth List</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th>SR.N.</th>

                    <th>State Name</th>
                    <th>Loksabha Name</th>

                    <th>Vidhansabha Name</th>
                    <th>Code</th>
                    <th>Booth Name</th>
                </tr>
                @foreach (var l in Model._List)
                {
                    <tr>
                        <td>@Index</td>
                        <td>@l.State_Name</td>
                        <td>@l.Loksabha_Name </td>
                        <td>@l.Vidhansabha_Name </td>
                        <td>@l.Code</td>
                        <td>@l.Name </td>


                    </tr>
                    Index += 1;
                }


            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-primary">Add New</a>
    </div>
</div>




