
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int Index = 1;
}

<script>
    $(".menu2").removeClass("active").removeClass("toggled");
    $(".menu1").addClass("active").addClass("toggled");
</script>
@model SuperSurvey.Models.UserRegisterModels
<div class="panel panel-success">
    <div class="panel-heading">
        <strong>Users List</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Mobile No1</th>
                    <th>User Name</th>

                    <th>Password</th>
                   
                    <th>Action</th>

                </tr>

                @foreach (var l in Model._UserList)
                {
                    <tr>
                        <td>@Index</td>
                        <td>@l.Name</td>
                        <td>@l.Email</td>
                        <td>@l.MobileNo1</td>
                        <td>@l.MobileNo2</td>
                        <td>@l.User_Name</td>
                        <td>@l.Password</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                        </td>

                    </tr>
                    Index += 1;
                }


            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateUser","App")" class="btn btn-primary">Add New</a>
    </div>
</div>
